<form action="/users" method="post">
	<fieldset>
		<legend>Register</legend>
		<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
		First Name: <input type = "text" name = 'first_name'><br>
		Last Name: <input type = "text" name = "last_name"><br>
		Email: <input type = "text" name = "email"><br>
		Password: <input type = "password" name = "password"><br>
		<input type = "submit" value = 'register'><br>
	</fieldset>
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<form action="/sessions" method="post">
	<fieldset>
		<legend>Login</legend>
		<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
		Email: <input type = "text" name = "email"><br>
		Password: <input type = "password" name = "password"><br>
		<input type = "submit" value = 'login'><br>
	</fieldset>
</form>
<% if flash[:loginerror] %>
	<p><%= flash[:loginerror] %></p>
<% end %>
